/* Click titlebar to drag app window */
body section#titlebar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

body section#titlebar button {
  -webkit-app-region: no-drag;
}
